[submodule "deps/minifb"]
	path = deps/minifb
	url = https://github.com/emoon/minifb

[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
    path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
    url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico